.header__container {
    background-color: #f77f00;
    box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 11px 15px rgba(0, 0, 0, 0.2);
    margin: 0.3rem
}

.header__content {
    display: flex;
    justify-content: space-around;
}

.header__title {
    font-size: 1.2rem;
    font-weight: 700;
}

.header__title:hover {
    cursor: pointer;
    color: #40916c;
}

.header__best-animes {
    font-size: 1.2rem;
    font-weight: 700;
}

.header__best-animes:hover {
    cursor: pointer;
    color: #40916c;
}

.header__add-anime {
    font-size: 1.2rem;
    font-weight: 700;
}

.header__add-anime:hover {
    cursor: pointer;
    color: #40916c;
}

.header__list {
    font-size: 1.2rem;
    font-weight: 700;
}

.header__list:hover {
    cursor: pointer;
    color: #40916c;
}