.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #40916c;
    position: relative;
    height: 100vh;
}

.input__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    border: 2px solid black;
    border-radius: 10px;
    width: 18rem;
    height: 22rem;
    background-color: #f8f9fa;
}

.update__title {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #40916c, #8eecf5, #b9fbc0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.label__nome {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.input__nome {
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    height: 2.5rem;
}

.label__nota {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.input__nota {
    margin-top: 0.5rem;
    height: 2.5rem;
}

.validator-nota__required {
    margin-right: 5.7rem;
    margin-top: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: red;
}

.validator-nota__max {
    margin-right: 1.5rem;
    margin-top: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: red;
}

.validator-nota__min {
    margin-right: 1.5rem;
    margin-top: 0.4rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: red;
}

.button__save {
    margin-top: 1.2rem;
}