<form class="card__container" [formGroup]="formGroup">
    <div class="input__container">
        <p class="create__title">Adicionar Anime</p>
        <label for="nome" class="label__nome">Nome</label>
        <input type="text"  pInputText id="nome" class="input__nome" [(ngModel)]="anime.nome" placeholder="Insira o nome do anime" autocomplete="off" formControlName="nome">
        <ng-container *ngIf="formGroup.controls['nome'].touched" class="validator-nome__container">
        <span *ngIf="formGroup.controls['nome'].errors?.['required']" class="validator-nome__required">
            Campo obrigatório
         </span>
        </ng-container>
        <label for="nota" class="label__nota">Nota</label>
        <input type="number"  pInputText id="nota" class="input__nota" [(ngModel)]="anime.nota" placeholder="Insira a nota do anime" autocomplete="off" formControlName="nota">
        <ng-container *ngIf="formGroup.controls['nota'].touched" class="validator-nota__container">
            <span *ngIf="formGroup.controls['nota'].errors?.['required']" class="validator-nota__required">
            Campo obrigatório
            </span>
        </ng-container>
        <span *ngIf="formGroup.controls['nota'].errors?.['max']" class="validator-nota__max">
            Nota não pode ser maior que 10
        </span>
        <span *ngIf="formGroup.controls['nota'].errors?.['min']" class="validator-nota__min">
            Nota não pode ser menor que 0
        </span>
        <button pButton type="button" class="p-button-raised button__add" (click)="create()" [disabled]="!formGroup.valid">Criar</button>
    </div>
</form>
<p-toast position="top-right"></p-toast>